.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 200px;
}

.nav-items{
    padding: 0px 20px;
}
.nav-items > ul {
    display: flex;
    font-size: 24px;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    
}
.res-card{
    margin: 10px;
    padding: 6px;
    width: 180px;
    
    background-color: #f0f0f0;
}
.res-card:hover{
    border: 0.5px solid black;
    cursor: pointer;
}
.search{
    padding: 10px;
}
.res-logo{
    width: 100%;  
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin:20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}
.login{
   
    background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;


}

.login:hover {
  background-color: #fff;
}

.login:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.filter{
  display: flex;
}

.user-card{
    padding: 10px;
    border: 1px solid black;
}